<div class="container" id="exampleModal"  aria-labelledby="exampleModalLabel1" >
    <div class="d-flex justify-content-center">
        <div class="modal-content w-75">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <form action="/change-forgot-password" method="post" id="changePassword">
                    <!-- Email in -->
                    

                    <div class="form-outline mb-4">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="" class="form-control" name="password"
                            placeholder="New Password" />
                        {{!-- <label class="form-label" for="">New Password</label> --}}
                    </div>

                    <!-- Submit button -->
                    {{!-- <button type="submit" class="btn btn-primary btn-block">Login</button> --}}
                    <button type="submit" class="btn btn-success">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>